body {
    background-color: white;
  }

  .clearBoth {
    clear: both;
  }

  .imgContainer {
    position: relative;
    z-index: -10;
    float: left;
    padding: 8px;
    margin-bottom: 10px;
    width: 220px;
    font-size: small;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h1 {
    position: relative;
    float: top;
  }

  #mainDiv {
    height: 2700px;
    width: 1200px;
  }

  #genreDiv {
    height: 550px;
    width: 1200px;
  }

  #Comedy {
    height: 550px;
    width: 1200px;
  }

  #Thriller {
    height: 550px;
    width: 1200px;
  }

  #Romance {
    height: 550px;
    width: 1200px;
  }

  #Drama {
    height: 550px;
    width: 1200px;
  }

  #Children {
    height: 550px;
    width: 1200px;
  }

  #Crime {
    height: 550px;
    width: 1200px;
  }

  span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    vertical-align: auto;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }